<article class="flex flex-row my-2">
  <label data-test-id="checkbox-label" class="items-center leading-loose mx-2" ...attributes>
    <Input
      data-test-id="checkbox"
      @type="checkbox"
      class="mr-2"
      indeterminate={{this.indeterminateState}}
      @checked={{this.allIdAreChecked}}
      {{on "change" this.selectAll}}
    />
    Selected 2
  </label>
  <UiButton class="ml-5" @onClick={{this.startDownload}} @type="button">Download Selected</UiButton>
</article>
<UiTable as |Table|>
  <Table.head as |Thead|>
    <Thead.th />
    <Thead.th>Name</Thead.th>
    <Thead.th>Device</Thead.th>
    <Thead.th>Path</Thead.th>
    <Thead.th>Status</Thead.th>
  </Table.head>
  <Table.body as |Tbody|>
    {{#each this.model as |download|}}
      <Tbody.tr as |Row|>
        <Row.td>
          <UiCheckbox
            data-test-id="checkbox"
            @onClick={{(fn this.select download)}}
            @disabled={{(not-eq download.status "available")}}
            @model={{download}}
            @selected={{this.selectedDownloads}}
          />
        </Row.td>
        <Row.td>{{download.name}}</Row.td>
        <Row.td class="capitalize">{{download.device}}</Row.td>
        <Row.td>{{download.path}}</Row.td>
        {{#if (eq download.status "available")}}
          <Row.td class="flex capitalize"><svg
              class="w-3 mr-1"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle fill="#7FD235" cx="50" cy="50" r="50" stroke="currentcolor"></circle>
            </svg><span>{{download.status}}</span></Row.td>
        {{else}}
          <Row.td class="capitalize">{{download.status}}</Row.td>
        {{/if}}
      </Tbody.tr>
    {{else}}
      <Tbody.empty>
        There are no downloads available.
      </Tbody.empty>
    {{/each}}
  </Table.body>
</UiTable>